<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cosmetics	</title>
<link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}"><!-- @{}안에 추가할일 없으면 '' 안붙여줘도됨 -->
<link rel="stylesheet" type="text/css" th:href="@{'/css/board.css'}">
<link rel="stylesheet" type="text/css" th:href="@{'/css/write.css'}">
</head>	

<style type="text/css">
 /* link - 아직 클릭하지 않은 경우 red 색상 설정 */
 a:link { color: black; text-decoration: none;}	
 /* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
 a:visited { color: black; text-decoration: none;}	
 /* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
 a:hover { color: #006DD7; text-decoration: underline;}
</style>

<body>
<div align="right"	style="background-color: #eee6c4;">
	<a th:href="@{/product}">홈</a>&nbsp;
	<a th:href="@{/cartList}">장바구니</a>&nbsp;
	<a th:href="@{/login}" th:if="${!session.keySet().contains('customer')}">로그인</a>
	<a th:href="@{/logout}" th:if="${session.keySet().contains('customer')}" >로그아웃</a>
	<a th:href="@{/signUp}" th:if="${!session.keySet().contains('customer')}">회원가입</a>&nbsp;
	<a th:href="@{/board}">게시판</a>
	<br><br>	
</div>

<div align="middle">
	<div th:include="__${contents}__">
		<p>여기는 메인</p>
	</div>



</div>	

</body>
</html>